{% extends "sg-prototype-templates/layouts/_base-layout--navigation.njk" %}

{# Specify the menu items object to show navigation #} 
{% set navigationMenu = {
        "menu": [
            {
            "label": "Menu item 1",
            "link": "#",
            "current": true
            },
            {
            "label": "Menu item 2",
            "link": "#"
            },
            {
            "label": "Menu item 3",
            "link": "#"
            },
            {
            "label": "Menu item 4",
            "link": "#"
            }
        ]
    }
%}

{% block pageTitle %}Blank page{% endblock %}

{# Cookie banner to show placement location of this and notification banners #}
{% block pageTopStart %}
<div id="cookie-notice" class="ds_notification  ds_notification--large  ds_notification--cookie  js-initial-cookie-content" data-module="ds-cookie-notification">
    <div class="ds_wrapper">
        <div class="ds_notification__content">
            <h2 class="visually-hidden">Information</h2>

            <div class="ds_notification__text">
                <p>We use <a href="#">cookies</a> to collect anonymous data to help us improve your site browsing
                    experience.</p>
                <p>Click 'Accept all cookies' to agree to all cookies that collect anonymous data.
                    To only allow the cookies that make the site work, click 'Use essential cookies only.' Visit 'Set cookie preferences' to control specific cookies.</p>
            </div>

            <div class="ds_notification__actions">
                <button class="ds_button  ds_button--small  js-accept-all-cookies">Accept all cookies</button>
                <button class="ds_button  ds_button--small  ds_button--secondary  js-accept-essential-cookies">Use essential cookies only</button>
                <a href="#">Set cookie preferences</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{# Use an empty siteBrandingTitle block to only show the logo for site branding #}
{% block siteBrandingTitle %}
<div class="ds_site-branding__title">
    {{ serviceName }}
</div>
{% endblock %}

{% block main %}

{% endblock %}