{# !!!! The Check your answers page pattern is currently being reviewed and is subject to change !!!! #}

{% extends "sg-prototype-templates/layouts/_base-layout.njk" %}

{% block pageTitle %}Check your answers{% endblock %}

{# Use an empty siteSearch block to hide the search from the header #}
{% block siteSearch %}{% endblock %}

{% block main %}
<div class="ds_wrapper">
    <a class="ds_back-link" href="#">Back to 'Name of service'</a>
    <main id="main-content" class="ds_layout  ds_layout--question">

        {% block mainHeader %}
        <div class="ds_layout__header">
            <header class="ds_page-header">
                <h1 class="ds_page-header__title">Check your answers before sending your application</h1>
            </header>
        </div>
        {% endblock %}

        {% block mainContent %}
        <div class="ds_layout__content">
            
            <h2>Personal details</h2>
                <ul class="ds_summary-list">
                    <li class="ds_summary-list__item">
                        <span class="ds_summary-list__key" id="item-personal1-key">Name</span>
                        <span class="ds_summary-list__value">
                            <q class="ds_summary-list__answer">Jane Smith</q>
                        </span>
                        <div class="ds_summary-list__actions">
                            <button type="button" class="ds_link" aria-describedby="item-personal1-key">
                                Change
                            </button>
                        </div>
                    </li>
                    <li class="ds_summary-list__item">
                        <span class="ds_summary-list__key" id="item-personal2-key">Date of birth</span>
                        <span class="ds_summary-list__value">
                            <q class="ds_summary-list__answer">19 March 1983</q>
                        </span>
                        <div class="ds_summary-list__actions">
                            <button type="button" class="ds_link" aria-describedby="item-personal2-key">
                                Change
                            </button>
                        </div>
                    </li>
                    <li class="ds_summary-list__item">
                        <span class="ds_summary-list__key" id="item-personal3-key">Customer reference</span>
                        <span class="ds_summary-list__value">
                            <q class="ds_summary-list__answer">Not provided</q>
                        </span>
                        <div class="ds_summary-list__actions">
                            <button type="button" class="ds_link" aria-describedby="item-personal3-key">
                                Change
                            </button>
                        </div>
                    </li>
                    <li class="ds_summary-list__item">
                        <span class="ds_summary-list__key" id="item-personal4-key">Address</span>
                        <span class="ds_summary-list__value">
                            <q class="ds_summary-list__answer">Victoria Quay<br>Edinburgh<br>EH6 6QQ</q>
                        </span>
                        <div class="ds_summary-list__actions">
                            <button type="button" class="ds_link" aria-describedby="item-personal4-key">
                                Change
                            </button>
                        </div>
                    </li>
                    <li class="ds_summary-list__item">
                        <span class="ds_summary-list__key" id="item-personal5-key">Contact details</span>
                        <span class="ds_summary-list__value">
                            <q class="ds_summary-list__answer">
                                <ul class="ds_no-bullets">
                                    <li><q class="ds_summary-list__answer">07890 135468</q></li>
                                    <li><q class="ds_summary-list__answer">jane.smith@example.com</q></li>
                                </ul>
                            </q>
                        </span>
                        <div class="ds_summary-list__actions">
                            <button type="button" class="ds_link" aria-describedby="item-personal5-key">
                                Change
                            </button>
                        </div>
                    </li>
                </ul>
                <h2>Application details</h2>

                <ul class="ds_summary-list">
                    <li class="ds_summary-list__item">
                        <span class="ds_summary-list__key" id="item-application1-key">Previous application number</span>
                        <span class="ds_summary-list__value">
                            <q class="ds_summary-list__answer">12345678</q>
                        </span>
                        <div class="ds_summary-list__actions">
                            <button type="button" class="ds_link" aria-describedby="item-application1-key">
                                Change
                            </button>
                        </div>
                    </li>
                    <li class="ds_summary-list__item">
                        <span class="ds_summary-list__key" id="item-application2-key">Licence type</span>
                        <span class="ds_summary-list__value">
                            <q class="ds_summary-list__answer">For personal use</q>
                        </span>
                        <div class="ds_summary-list__actions">
                            <button type="button" class="ds_link" aria-describedby="item-application2-key">
                                Change
                            </button>
                        </div>
                    </li>
                    <li class="ds_summary-list__item">
                        <span class="ds_summary-list__key" id="item-application3-key">Home address</span>
                        <span class="ds_summary-list__value">
                            <q class="ds_summary-list__answer">Victoria Quay<br>Edinburgh<br>EH6 6QQ</q>
                        </span>
                        <div class="ds_summary-list__actions">
                            <button type="button" class="ds_link" aria-describedby="item-application3-key">
                                Change
                            </button>
                        </div>
                    </li>
                    <li class="ds_summary-list__item">
                        <span class="ds_summary-list__key" id="item-application4-key">Licence period</span>
                        <span class="ds_summary-list__value">
                            <q class="ds_summary-list__answer">Valid for 6 months</q>
                        </span>
                        <div class="ds_summary-list__actions">
                            <button type="button" class="ds_link" aria-describedby="item-application4-key">
                                Change
                            </button>
                        </div>
                    </li>
                </ul>
                <h2>Now send your application</h2>
                <p>By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

                <form action="/confirmation" method="post" novalidate>
                    <div class="ds_button-group">
                        <a href="/path/of/prev/page" class="ds_button ds_button--secondary">Back</a>
                        <button class="ds_button" type="submit">Accept and send</button>
                    </div>
                </form>
            </div>
        {% endblock %}

    </main>
</div>
{% endblock %}