{# !!!! The Question pattern is currently being reviewed and is subject to change !!!! #}

{% extends "sg-prototype-templates/layouts/_base-layout.njk" %}

{% block pageTitle %}Question{% endblock %}

{# Example of using a different logo in the header - in this case the Mygov.scot logo #}
{% block siteBrandingLogo %}
<a class="ds_site-branding__logo  ds_site-branding__link" href="/">
    <img class="ds_site-branding__logo-image" src="{{ assetPathTemplates }}/images/site-furniture/logos/mygov.svg" alt="mygov.scot" />
</a>
{% endblock %}

{# Use an empty siteSearch block to hide the search from the header #}
{% block siteSearch %}{% endblock %}

{% block main %}
<div class="ds_wrapper">
    <a class="ds_back-link" href="#">Back to 'Name of service'</a>
    <main id="main-content" class="ds_layout  ds_layout--question-page">

        {% block mainContent %}
        <div class="ds_layout__content">
            
            {# Set the action attribute to the next page in your form's journey #}
            <form action="/path/of/next/page" method="post" class="ds_form">
                <div class="ds_form__content">
                    <div class="ds_question">
                        <fieldset aria-describedby="hint-id">
                            <legend class="ds_page-header">
                                <span class="ds_page-header__label  ds_content-label">Context heading</span>
                                <h1 class="ds_page-header__title">
                                    Question heading
                                </h1>
                            </legend>
                            <p class="ds_hint-text" id="hint-id">Hint text to help answer</p>
                            <div class="ds_datepicker  ds_datepicker--multiple" data-module="ds-datepicker">
                                <div class="ds_datepicker__input-wrapper">
                                    <div>
                                        <label class="ds_label" for="day">Day</label>
                                        <input id="day" name="day" class="ds_input ds_input--fixed-2  js-datepicker-date">
                                    </div>
                                    <div>
                                        <label class="ds_label" for="month">Month</label>
                                        <input id="month" name="month" class="ds_input ds_input--fixed-2  js-datepicker-month">
                                    </div>
                                    <div>
                                        <label class="ds_label" for="year">Year</label>
                                        <input id="year" name="year" class="ds_input ds_input--fixed-4  js-datepicker-year">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="ds_form__actions">
                    <div class="button-group">
                        <a href="/path/of/prev/page" class="ds_button  ds_button--secondary">Back</a>
                        <button class="ds_button" type="submit">Continue</button>
                    </div>
                </div>
            </form>

        </div>
        {% endblock %}

        {# Optionally show submitted answers so far #}
        {% block answerSummary %}
        <div class="ds_layout__footer">
            <div class="ds_!_margin-top--4">
                <h2>Your answers</h2>
                <p><button class="ds_link">Clear answers and start again</button></p>
                <ol class="ds_summary-list">
                    <li class="ds_summary-list__item"><span class="ds_summary-list__key" id="item-1-key">This is an example question?</span> <span class="ds_summary-list__value"><q class="ds_summary-list__answer">My answer</q></span>
                        <div class="ds_summary-list__actions">
                            <ul class="ds_summary-list__actions-list">
                                <li class="ds_summary-list__actions-list-item"><button class="ds_link" aria-describedby="item-1-key">Change</button></li>
                            </ul>
                        </div>
                    </li>
                    <li class="ds_summary-list__item"><span class="ds_summary-list__key" id="item-2-key">This is another different example question?</span> <span class="ds_summary-list__value"><q class="ds_summary-list__answer">My answer</q></span>
                        <div class="ds_summary-list__actions">
                            <ul class="ds_summary-list__actions-list">
                                <li class="ds_summary-list__actions-list-item"><button class="ds_link" aria-describedby="item-2-key">Change</button></li>
                            </ul>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        {% endblock %}

        
    </main>
</div>
{% endblock %}