{% extends "sg-prototype-templates/layouts/_base-layout.njk" %}
{% from "sg-prototype-templates/macros/_site-navigation.njk" import siteNavigation -%}

{% block siteHeaderControls %}
<div class="ds_site-header__controls">
    <label aria-controls="mobile-navigation" class="ds_site-header__control  js-toggle-menu" for="menu">
        <span class="ds_site-header__control-text">Menu</span>
        <svg class="ds_icon  ds_site-header__control-icon" aria-hidden="true" role="img"><use href="{{ assetPath }}/images/icons/icons.stack.svg#menu"></use></svg>
        <svg class="ds_icon  ds_site-header__control-icon  ds_site-header__control-icon--active-icon" aria-hidden="true" role="img"><use href="{{ assetPath }}/images/icons/icons.stack.svg#close"></use></svg>
    </label>
</div>
{% endblock %}

{% block siteNavigationMobile %}
<input class="ds_site-navigation__toggle" id="menu" type="checkbox">
<nav id="mobile-navigation" class="ds_site-navigation  ds_site-navigation--mobile" data-module="ds-mobile-navigation-menu">
    {{ siteNavigation(navigationMenu) }}
</nav>
{% endblock %}

{% block siteNavigation %}
<div class="ds_site-header__navigation">
    <div class="ds_wrapper">
        <nav class="ds_site-navigation">
            {{ siteNavigation(navigationMenu) }}
        </nav>
    </div>
</div>
{% endblock %}